
body {
font-family: Verdana, Arial, sans-serif;
}

.legend {
color: #ff0000;
}

#pageheading{
font-style: italic; 
}
#fieldset {
	width: 70%;
}
}
#controls {
width:80%;
padding: 1em;
}
.controlgroup {
margin-bottom: 1em;
padding: 10px;
width: 80%;
}
.radiogroup {
	padding: 0;
	
}

.result {
    margin-top: 0.25em;
    padding: 0.25em;
	display: none;
}
#form {
width: 70%;
}
div label {
 width: 70%;
}

.error {
display:none;
color: red;
padding-left: 1em;
font-size: 0.75em;
}

.span {
	size: 0.75em;
	color: #a8a8a8; 
	font-style: italic;
}

.questionmark {
	position:relative;	
	background:url(questionmark.jpg) top left no-repeat;
	padding: 0.5em 2em;
}
#qmark {
	height: 25px;
	
}

.tooltip {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font: 0.85em Arial,Helvetica,sans-serif;
    height: 8px;
    left: 55px;
    padding: 10px 10px 30px 35px;
    position: absolute;
    width: 320px;
}
